.productColorSelector {
	margin-top: var(--spacer-015);
	margin-bottom: var(--spacer-060);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--spacer-030);
}

.colorsInfo {
	min-width: 200px;
	text-align: right;
}

.colorsCount {
	font-size: var(--font-size-m);
	line-height: var(--line-height-m);
	font-weight: var(--font-weight-04);
}

.colorName {
	font-size: var(--font-size-m);
	line-height: var(--line-height-s);
	font-weight: var(--font-weight-01);
	padding-top: var(--spacer-005);
}

.colorsList {
	display: flex;
	flex-direction: row;
	gap: var(--spacer-010);
	overflow: hidden;
}

.colorItem {
	width: 60px;
}
