.productDetailPage {
	display: flex;
	width: 100%;
	position: relative;
	top: calc(var(--spacer-040) * -1);
}

.productContent {
	max-width: calc(100% - 320px);
}

.productSidebar {
	box-sizing: border-box;
	flex: 0 0 320px;
}

@media (min-width: 1280px) {
	.productContent {
		max-width: calc(100% - 430px);
	}
	.productSidebar {
		flex: 0 0 430px;
	}
}

@media (min-width: 1440px) {
	.productContent {
		max-width: calc(100% - 450px);
	}
	.productSidebar {
		flex: 0 0 450px;
	}	
}

@media (min-width: 1680px) {
	.productContent {
		max-width: calc(100% - 490px);
	}
	.productSidebar {
		flex: 0 0 490px;
	}	
}
