:root {
	/* Font families*/
	--font-family-base: "AdihausDIN", Helvetica, Arial, sans-serif;
	--font-family-base-condensed: "AdihausDIN Cn", Helvetica, Arial, sans-serif;
	--font-family-pro: "AdineuePRO", Helvetica, Arial, sans-serif;

	/* Font sizes */
	--font-size-xs: 12px;
	--font-size-s: 13px;
	--font-size-m: 14px;
	--font-size-l: 16px;
	--font-size-xl: 18px;
	--font-size-2xl: 20px;
	--font-size-3xl: 30px;
	--font-size-4xl: 42px;

	/* Line height */
	--line-height-s: 15px;
	--line-height-m: 17px;
	--line-height-l: 18px;
	--line-height-xl: 20px;
	--line-height-2xl: 22px;
	--line-height-3xl: 28px;
	--line-height-4xl: 38px;

	/* Font weight */
	/* 400 === normal | 700 === bold */
	--font-weight-01: 400;
	--font-weight-02: 500;
	--font-weight-03: 600;
	--font-weight-04: 700;

	/* Spacers */
    --spacer-150: 150px; /* 1 */
    --spacer-120: 120px; /* 0 */
    --spacer-100: 100px; /* 0 */
    --spacer-080: 80px; /* 5 */
    --spacer-060: 60px; /* 5 */
    --spacer-040: 40px; /* 22 */
    --spacer-030: 30px; /* 17 */
    --spacer-020: 20px; /* 40 */
    --spacer-015: 15px; /* 37 */
    --spacer-010: 10px; /* 29 */
    --spacer-005: 5px; /* 21 */
    --spacer-000: 0px; /* 0 */

	/* Colors */
    --color-green: #00aa55;
    --color-red: #e32b2b;
	--color-bright-blue: #0071ae;
    --color-light-grey: #e9ecef;
    --color-dark-grey: #767677;
    --color-white: #ffffff;
    --color-black: #000000;
	--color-transparent: #fff0;

    --color-validation-success: var(--color-green);
    --color-validation-error: var(--color-red);
	
	--color-product-detail-image-bg: #edeff0;
}
